.footer {
  padding: 2rem 0;
  width: 100%;
  min-height: 100px;
  margin-top: 4em;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer__social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link--icon {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
